<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Course by Id</title>
</head>
<body>
	<h3 th:text="'Id Course = ' + ${course.id_course}">Course Id</h3>
	<h3 th:text="'Nama = ' + ${course.nama}">Course Name</h3>
	<h3 th:text="'SKS = ' + ${course.sks}">SKS</h3>
	<h3>Mahasiswa yang mengambil</h3>
	<ul th:each="student,iterationStatus: ${course.students}">
		<li th:text="${student.npm} + '-' + ${student.name}">
			NPM-Nama</li>
	</ul>
</body>
</html>

